[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
matplotlib = "*"
torch = "*"
torchvision = "*"
pandas = "*"
plotly = "*"
psutil = "*"
requests = "*"
kaleido = "*"

[requires]
python_version = "3.6"